@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="card bg-light border-light mb-4">
    <div class="card-header">
        <span class="h6">Menu</span>
    </div>
    <div class="card-body">
        <h4 class="collapse-header">
            <a data-toggle="collapse" href="#account-collapser" aria-expanded="false" aria-controls="account-collapser" localize>
                Edit account
            </a>
        </h4>
        <div class="collapse" id="account-collapser">
            <a asp-controller="Account" asp-action="Email" localize>Email address</a><br />
            <a asp-controller="Account" asp-action="Password" localize>Password</a><br />
            <a asp-controller="Account" asp-action="Shipping" localize>Shipping addresses</a>
        </div>

        <h4 class="collapse-header">
            <a data-toggle="collapse" href="#order-collapser" aria-expanded="false" aria-controls="order-collapser" localize>
                Orders
            </a>
        </h4>
        <div class="collapse" id="order-collapser">
            <a asp-controller="Account" asp-action="CurrentOrders" localize>In preparation</a><br />
            <a asp-controller="Account" asp-action="OrderHistory" localize>Orders completed</a><br />
        </div>
        <div class="mb-4 mb-md-0"></div>
    </div>
</div>